@import "header";
@import "footer";
@import "main";
@import "assistance";
@import "extension";
@import "profil";
@import "forum";


body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}